
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid d-flex justify-content-center">
                    <div class="list list-row card-list" id="sortable" data-sortable-id="0" aria-dropeffect="move">
                        <h5 class="text-center mb-4">Lista de Solicitudes</h5>
                            {{#each forms}}
                            
                        <div class="list-item" data-id="13" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" >
                            <div><a href="#" data-abc="true"><span class="w-40 avatar gd-primary">P</span></a></div>
                            <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">{{users.fullname}}</a>
                                <div class="item-except text-muted text-sm h-1x">{{title}}</div>
                            </div>
                            <div class="no-wrap">
                                <div class="item-date text-muted text-sm d-none d-md-block">{{ created_at }}</div>
                            </div>
                            <div>
                                
                                <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="12" cy="5" r="1"></circle>
                                            <circle cx="12" cy="19" r="1"></circle>
                                        </svg> </a>
                                        
                                    <div class="dropdown-menu dropdown-menu-right" > 
                                        <a class="dropdown-item " data-abc="true" data-toggle="modal" data-target="#detail">Mas detalles </a>                                      
                                        <a class="dropdown-item download" data-abc="true">Download </a>
                                        <a class="dropdown-item edit" data-abc="true" data-toggle="modal" data-target="#edit">Editar</a>
                                        <div class="dropdown-divider"></div> 
                                        <a class="dropdown-item trash" data-abc="true"  data-toggle="modal" data-target="#delete">Eliminar</a>
                                    </div>
                                </div>

                     <!-- Modal -->

                                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editLabel">Dependencia: {{dependencia}}</h5>
                                            
                                            </div>
                                            <div class="modal-body">
                                                <div class="card">

                                                    <div class="card-body">
                                                      <form action="/form/edit/{{id}}?_method=PUT" method="POST">

                                                            <div class="form-group">
                                                                  Dependencia:
                                                                <input name="dependencia" class="form-control" value="{{dependencia}}"></input>
                                                            </div>

                                                            <div class="form-group">
                                                                  Cargo:
                                                                <input name="cargo" class="form-control" value="{{cargo}}"></input>
                                                            </div>

                                                            <div class="form-group">
                                                                Asunto:
                                                                <input type="text" name="title" class="form-control" placeholder="Title" value="{{title}}" >
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                Descripcion:
                                                                <textarea name="description" class="form-control">{{description}}</textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="d-grid gap-2">
                                                                    <a href="/form/edit/{{id}}" class="btn btn-primary"> Actualizar </a>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="detailLabel">Dependencia: {{dependencia}}</h5>
                                            
                                            </div>
                                            <div class="modal-body">
                                                <div class="card">

                                                    <div class="card-body">
                                                        <div class="form-control">
                                                            
                                                            <p></p>
                                                       
                                                            <p>De: {{user_id}}</p> 
                                                            <p>Asunto: {{title}}</p>
                                                            <p> Descripcion: {{description}}</p>  

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="delete" class="modal fade">
                                    <div class="modal-dialog modal-confirm">
                                        <div class="modal-content">
                                            <div class="modal-header flex-column">						
                                                <h4 class="modal-title w-100">Are you sure?</h4>	
                                            </div>
                                            <div class="modal-body">
                                                <p>Do you really want to delete these records? This process cannot be undone.</p>
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                                <a href="/form/delete/{{id}}" class="btn btn-danger">Delete</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        {{else}}
                        <div class="col-md-4 mx-auto">
                            <div class="card card-body text-center bg-dark text-light">
                                <p>There are not form saved yet.</p>
                                <a href="/form/add" class="text-success">Create One!</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>