

<div class="justify-content-center mx-auto">
    <div class="card">
        <h5 class="text-center mb-4"> <span>Lista de Solicitudes</h5>      
        <table class="table table-borderles">
            
            <thead class="text-center">
                <tr class="border-bottom">
                    <th> <span class="mx-2">Dependencia</span> </th>
                    <th> <span class="ml-2">Cargo</span> </th>
                        <th> <span class="ml-2">Solicitante</span> </th>
                    <th> <span class="ml-2">Asunto</span> </th>
                    <th> <span class="ml-2">Descripcion</span> </th>
                    <th> <span class="ml-2">ID User</span> </th>
                    <th> <span class="ml-4">Action</span> </th>
                </tr>
            </thead>
            
            <tbody class="text-left mx-auto" >
                {{#each form}}
                    <tr>
                        <td class="col-sm-3">
                          <b>{{dependencia}}</b> <br><small>{{created_at }}</small> 
                        </td>
                        <td>
                            {{cargo}} 
                        </td>
                        <td>
                            {{others}}
                        </td>
                        <td>
                            {{title}} 
                        </td>
                        
                        <td class="col-sm-3">
                            {{description}}
                        </td>

                        <td class="text-center">
                            {{user_id}}
                        </td>
                        
                        <td class="col-sm-1">
                            <div class="justify-content-center" > 
                                <a  href="/form/edit/{{id}}" class="las la-edit text-success"></a> 
                                <a class="las la-trash text-danger" data-toggle="modal" data-target="#delete"></a>
                                <a class="las la-download text-secondary las-5x" href="forms.hbs" download></a>
                            </div>
                        </td>
                    </tr>
                    <!--Modal delete -->
                    <div id="delete" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                <div class="modal-header flex-column">						
                                    <h4 class="modal-title w-100">Estas Seguro?</h4>	
                                </div>
                                <div class="modal-body">
                                    <p>Realmente deseas eliminar? Este proceso no se puede deshacer.</p>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                                    <a href="/form/delete/{{id}}" class="btn btn-danger">Eliminar</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                
                {{else}}
                   <div class="col-md-6 mx-auto">
                        <div class="card-body text-center bg-gray text-black">
                            <p>Todavía no hay formularios guardados..</p>
                            <a href="/form/add"  type="button" class="btn btn-primary p-3">Crear una nueva Solicitud</a>
                        </div>
                    </div>
                {{/each}}
            </tbody>
        </table>
    </div>
        
</div>
